{% extends 'base.html.twig' %}

{% block title %}- Verify Email{% endblock %}

{% block body %}
    <header>
        <h1>Verify Email</h1>
    </header>
    <p>You should receive an email at {{ email }} shortly with a verification link. Please click that link to complete your registration. Please check your spam folder in the event that you do not see this email in your inbox.</p>
{% endblock %}
