{% extends 'base.html.twig' %}

{% block title %}- Verification Resent{% endblock %}

{% block body %}
    <header>
        <h1>Verification Resent</h1>
    </header>
    <p>We have resent an email to you at {{ email }} with a verification link. You should receive it shortly. Please click that link to complete your registration.</p>
{% endblock %}
