{% extends 'base.html.twig' %}

{% block title %}- Admin{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('scripts/admin') }}
{% endblock %}

{% block body %}
    <div id="admin"></div>
{% endblock %}