{% extends 'base.html.twig' %}

{% block title %}- Forgot Password{% endblock %}

{% block body %}
    <header>
        <h1>Reset Password</h1>
    </header>

    <form action="{{ path('send_password_reset') }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <input type="email" name="email" placeholder="Email Address" required>

        <button type="submit">Send Link</button>
    </form>

{% endblock %}
