{% extends 'base.html.twig' %}

{% block title %}- Password Reset Complete{% endblock %}

{% block body %}
    <header>
        <h1>Password Reset Complete</h1>
    </header>

    <p>Your password has been reset. Return to the <a href="{{ path('app_login') }}">login page</a>.</p>

{% endblock %}
