{% extends 'base.html.twig' %}

{% block title %}- Password Reset Invalid{% endblock %}

{% block body %}
    <header>
        <h1>Password Reset Invalid</h1>
    </header>

    <p>This password reset token is invalid or expired. Token lifetime is one hour.</p>

{% endblock %}
