{% extends 'base.html.twig' %}

{% block title %}- Reset Password{% endblock %}

{% block scripts %}
<script>
    function check() {
        let p1 = document.getElementById('newpassword');
        let p2 = document.getElementById('repeatpassword');
        if(p2.value !== p1.value) {
            p2.setCustomValidity('Passwords must match');
        } else {
            p2.setCustomValidity('');
        }
    }
</script>
{% endblock %}

{% block body %}
    <header>
        <h1>Reset Password</h1>
    </header>

    <form action="{{ path('password_reset_action') }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <input type="hidden" name="token" value="{{ token }}">

        {% if password_no_match is not empty %}
        <p class="error">Passwords must match.</p>
        {% endif %}

        <input type="password" id="newpassword" name="newpassword" placeholder="New Password" required onkeyup="check()">
        <input type="password" id="repeatpassword" name="repeatpassword" placeholder="Repeat Password" required onkeyup="check()">

        <button type="submit">Reset</button>
    </form>

{% endblock %}
