{% extends 'base.html.twig' %}

{% block title %}- Change Password{% endblock %}

{% block body %}
    <div id="settings">
        {{ include('settings/_nav.html.twig') }}
        <div>
            <form>
                <h1>Change Password</h1>
                <label for="currentPassword">Current Password</label>
                <input type="password" name="currentPassword">
                <label for="newPassword">New Password</label>
                <input type="password" name="newPassword">
                <label for="repeatPassword">Repeat New Password</label>
                <input type="password" name="repeatPassword">
                <button type="submit" name="submit">Save</button>
            </form>
        </div>
    </div>
{% endblock %}